/*html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/

/* Don't want the xl breakpoint size */
.container {
  max-width: 970px;
}

.header {
  margin-bottom: 1em;
  padding-top: 15px;
}

.timer {
  font-size: 150%;
}

.question, .answer {
  font-size: 120%;
}

.question {
  min-height: 78px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 200%;
  }
  .panel-body {
    padding: 20px;
  }
  .list-group-item {
    padding: 15px 20px;
  }
  .question {
    min-height: 108px;
  }
}

#finished-screen {
  display: none;
}


/*Hidding elements*/
.childHidden{
    display: none;
}
